<!DOCTYPE html>
<html lang="en">
    <head>
        <link
            href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
            rel="stylesheet"
        />
        <meta charset="UTF-8" />
        <title>Octoprint Camera Viewer</title>
    </head>
    <body>
        <div class="text-white bg-gray-900">
            <div class="h-screen">
                <div
                    class="
                        flex flex-col
                        justify-center
                        items-center
                        h-screen
                        w-full
                    "
                >
                    <%if (printingState === "Heating") { %>
                    <h1 class="md:text-4xl text-2xl font-medium">
                        Almost there! The printer is heating up...
                    </h1>
                    <img
                        class="mt-2 rounded"
                        src="/video"
                        alt="Stream Feed"
                        height="1280"
                        width="720"
                    />
                    <h1 class="mt-2 text-xl font-medium">
                        Bed Temperature:
                        <span class="font-mono text-red-200"
                            ><%= temps.bed %>째C</span
                        >
                        - Nozzle Temperature:
                        <span class="font-mono text-red-200"
                            ><%= temps.nozzle %>째C</span
                        >
                    </h1>
                    <h1 class="text-xl font-medium">
                        Printing:
                        <span class="font-mono text-red-200"
                            ><%= file.name %></span
                        >
                    </h1>
                    <% } else if (printingState === "Printing") { %>
                    <h1 class="md:text-4xl text-2xl font-medium">
                        Check out what i'm printing:
                    </h1>
                    <img
                        class="mt-2 rounded"
                        src="/video"
                        alt="Stream Feed"
                        height="1280"
                        width="720"
                    />
                    <h1 class="mt-2 text-xl font-medium">
                        Bed Temperature:
                        <span class="font-mono text-red-200"
                            ><%= temps.bed %>째C</span
                        >
                        - Nozzle Temperature:
                        <span class="font-mono text-red-200"
                            ><%= temps.nozzle %>째C</span
                        >
                    </h1>
                    <h1 class="text-xl font-medium">
                        Printing:
                        <span class="font-mono text-red-200"
                            ><%= file.name %></span
                        >
                        Time Left:
                        <span class="font-mono text-red-200"
                            ><%= file.duration %></span
                        >
                    </h1>
                    <% } else{ %>
                    <h1 class="md:text-4xl text-2xl font-medium">
                        Sorry, nothing is being printed right now.
                    </h1>
                    <h1 class="mt-2 md:text-3xl text-xl text-gray-400">
                        Check back later!
                    </h1>
                    <% } %>
                </div>
                <footer
                    class="
                        bg-gray-800
                        shadow
                        bottom-0
                        fixed
                        py-6
                        px-4
                        sm:px-6
                        lg:px-8
                        w-full
                    "
                >
                    <div
                        class="max-w-7xl mx-auto text-center text-dark-gray-200"
                    >
                        <p class="text-sm">
                            Created by
                            <a
                                class="
                                    text-indigo-300
                                    hover:text-indigo-400
                                    font-semibold
                                "
                                href="https://davidilie.com/"
                                >David Ilie</a
                            >, powered by
                            <a
                                class="
                                    text-indigo-300
                                    hover:text-indigo-400
                                    font-semibold
                                "
                                href="https://expressjs.com/"
                                >Express.js</a
                            >, and
                            <a
                                class="
                                    text-indigo-300
                                    hover:text-indigo-400
                                    font-semibold
                                "
                                href="https://tailwindcss.com/"
                                >TailwindCSS</a
                            >.
                        </p>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>
